.icons{
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 0.5rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #0000000F;
  opacity: 1;

  img{
    margin-right: 0.7rem;
  }

  &:hover{
    color: color;
    cursor: pointer;
    
    .red{
      color: #DB2525;
    }
    
    .orange{
      color: #E76316;
    }
  }
}