.reactModalOverlay{
 position: fixed;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 background: rgba(246, 244, 246, 0.8);

 display: flex;
 align-items: center;
 justify-content: center;
}

.reactModalContent{
  width: 20rem;
  height: 20rem;
  position: relative;
  padding: 1rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;

  &:focus{
    outline: none;
  }
}

.buttonCloseModal{
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  right: -0.7rem;
  top: -0.75rem;
  background: #E76316;
  text-align: center;
  border-radius: 50%;
  border: none;
  font-family: 'Mulish';
  color: #FFFFFF;
  font-size: 0.8rem;
  
  &:hover{
    cursor: pointer;
  }
 
}

.image{
  width: 7rem;
  height: 7rem;
  background: #DB25250F;
  margin: 0 auto;
  margin-top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.3rem solid #E4E4E4;
  
  .trashIcon{
    width: 3.25rem;
    height: 3.25rem;

  }
}

.horizontalLine{
  height:0px;
  width: 91%;
  margin: 0 auto;
  text-align:center;
  border: 0.5px solid #f0eff0;
  opacity: 1;
}

.delete{
  font: normal bold 1.5rem 'Mulish';
  text-align: center;
  letter-spacing: 0px;
  color: #DB2525;
  opacity: 1;
  margin-top: 1rem;
}

.phrase{
  font: normal bold 0.6rem 'Mulish';
  text-align: center;
  letter-spacing: 0px;
  color: #454545;
  text-transform: uppercase;
  opacity: 1;
  margin: 0.5rem 0 1rem 0;
}

.buttons{
  text-align: center;
  button{
    width: 7.5rem;
    height: 2.2rem;
    margin: 1.2rem 0.3rem;
    border-radius: 6px;
    cursor: pointer;
  }

  .deleteButton{
    background: #DB2525;
    color: #FFFFFF;
    box-shadow: 0px 2px 3px #92207242;
    border: none;
    opacity: 1;
  }
  
  .cancelButton{
    background: #FFFFFF;
    color: #DB2525;
    border: 1px solid #DB2525;
    opacity: 1;
  }
}