body {
    background-color: #e0d6e28e;
}

/* Links / HOVERS
==================================== */

/* NAV LINK */
li a {
    color: #cacaca !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

/* HOVER NAV LINK */
li a:hover {
    color: #571663 !important;
}

/* Barra de pesquisa sem Focus */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* HEADER
==================================== */

/* NAV BAR */
#nav-grad {
    background-image: linear-gradient(to right, #571663, #a81890);
}

/* BANNER */

.bg-image {
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-attachment: scroll; */
}

@media (min-width:1200px) {
    .bg-image {
        background-position: center;
    }
}

/* Barra de pesquisa */

.pesquisa {
    padding: 10px 0px;
    margin: 10px;

}

@media (max-width:700px) {
    .pesquisa {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width:700px) {
    .pesquisa {
        display: flex;
        justify-content: space-between;
    }
}

/* PESQUISA IMPUT  */
.pesquisa-input {
    border: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
}

@media (max-width:1000px) {
    .pesquisa-input {
        max-width: 70%;
        text-align: start;
    }
}

@media (min-width:1000px) {
    .pesquisa-input {
        width: 70%;
        text-align: start;
    }
}

/* Pesquisa ICONE */
.btn-lupa {
    width: 150px;
}

@media (max-width:800px) {
    .btn-lupa {
        width: 100px;
        text-align: center;
    }
}

@media (max-width:992px) {
    .btn-lupa {
        width: 10%;
        text-align: center;
    }
}



/* CONTEUDO MAIN
========================= */

/* BTN NOVO CARD */
.btn-card {
    background-color: #e67700;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 15px;
}

@media (max-width:700px) {
    .btn-card {
        text-align: center;
        width: 100%;
    }
}

.btn-card:hover {
    color: #fff !important;
    background-color: #571663;
}

.btn-card:active {
    color: #fff !important;
    background-color: #a81890 !important;
}

/* TEXTO PESQUISA */
.text-busca {
    color: #571663;
    font-family: 'Montserrat', sans-serif;
    ;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
}

@media (max-width:700px) {
    .text-busca {
        text-align: center;
        margin-bottom: 20px;
    }
}

/* CONTEÚDO MAIN
================================ */

/* IMG BORDER */
.card-img-border {
    width: 10rem;
    height: 10rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

/* BORDER CARD  */
.card-main-border {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3%;
}


/* BORDA BOTTOM */
.card-border-bottom {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 5px inset rgba(0, 0, 0, 0.1);
}

/* Borda entre os BOTÃOS */
.btn-main-card-border {
    border-radius: 0px;
}

.btn-main-card-border:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #ebb1df21;
    color: #571663 !important;
}

/* Modal
============================== */

.modal-header .btn-close-style {
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto;
    position: relative;
    bottom: 25px;
    left: 25px;
}


/* BTN FECHAR */
.btn-close-style {
    background-color: #e67700 !important;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    background: url(img/close-btn.png) center/1.5em auto no-repeat;
    border: 0;
    border-radius: 50%;
}

/* BORDA IMG LIXEIRA */
.border-lixeira {
    color: rgb(218, 45, 45);
    background-color: #e2a9cf1f;
    border: 5px solid rgb(187, 187, 187, 0.5);
    border-radius: 50%;
    padding: 40px 0px;
}

/* TEXTO MODAL
========================================== */

.text-confirmar-excluir {
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
}

/* BTN MODAL FOOTER
=================================== */

/* BTN EXCLUIR */
.btn-modal-exluir {
    padding: 10px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;


    color: white;
    background-color: rgb(218, 45, 45);
}

.btn-modal-exluir:hover {
    color: white;
    background-color: rgb(179, 37, 37);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

/* BTN CANCELAR */
.btn-modal-cancelar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;

    background-color: white;
    color: rgb(218, 45, 45);
    border: 1px solid rgb(218, 45, 45);
}

.btn-modal-cancelar:hover {
    background-color: white;
    color: rgb(218, 45, 45);
    border: 1px solid rgb(218, 45, 45);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}


/* MODAL EDITAR
================================== */

.modal-direita {
    justify-content: flex-end !important;
}


/* INPUT NOME */

.card-nome {
    padding: 10px;
    width: 100%;
    align-items: center;
    border: 1px solid rgba(104, 102, 102, 0.4);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.6px;
}
