@use 'variables' as *;
@use "mixins" as *;

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    @include font-stack (16px, $black, 400);
    margin: 0;
    background-color: $white;   
}



span {
    pointer-events: none;
}

button {
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.material-icons {
    transition: all 0.3s ease-out;
}

.material-icons.md-36 { 
    font-size: 36px; 
}

.material-icons.md-light { 
    color: $white; 
}