@use "variables" as *;
@use "mixins" as *;

@mixin grow-icons ($color) {
    &:hover {
        width: 40%;
        background: $color;
        .material-icons {
            font-size: 28px;
        }
        .card-button-text {
            font-size: 20px;
        }
    }

}

.card {
    @include flex (column, flex-start, center, 0);
    position: relative;
    width: 260px;
    min-width: 260px;
    height: 400px;
    border-radius: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-out;

    
    .card-texts {
        @include flex (column, flex-start, center, 4px);        
        position: absolute;
        top: 228px;
        width: 236px;
        
       
    }

    .card-buttons {
        display: flex;
        height: 120px;
        width: 100%;

        button {
            border: none;            
        }
    }

    .card-button-text {
        transition: all 0.3s ease-out;
        font-weight: 600;
    }
    
    button, a {
        cursor: pointer;
    }

    img {
        z-index: 1;
        bottom: 200px;
        position: absolute;
        transition: all 0.3s ease-out;
        height: 50%;
        background-color: $black;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        
    }

    p {
        margin: 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        width: 100%;
    }

    .name {
        @include font-stack (24px, $black, 800);
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        
    }

    .title {
        @include font-stack (20px, $black, 300);
        overflow: hidden;
        width: 100%;
        text-align: center;

    }

    .edit {
        @include flex (column, center, center, 4px);
        @include font-stack (16px, $white, 400);
        
        width: 33.4%;
        background: $primary;
        transition: all 0.3s ease-out;
        
        @include grow-icons ($primary-dark);
    }

    .delete {
        @include font-stack (16px, $white, 400);
        @include flex (column, center, center, 4px);
        width: 33.4%;
        background: $error;
        transition: all 0.3s ease-out;
        @include grow-icons ($error-dark);
    }

    

    .cheapest {
        @include font-stack (16px, $white, 400);
        width: 33.4%;
        background: $secondary;
        transition: all 0.3s ease-out;
        
        @include grow-icons ($secondary-dark);
        
        a{
            @include flex (row, center, center, 0);
            @include flex (column, center, center, 4px);
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: $white;
        }
    }
    
    &:hover {
        width: 268px;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);

        img {
            height: 70%;
            bottom: 0; 
        }
    }

}