@use "sass:meta";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

//Fonts
@mixin font-stack ($size, $color, $weight:400) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

//Flex
@mixin flex ($direction:row, $justify:flex-start, $align:flex-start, $gap:0, $wrap:nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}

//Size
@mixin size ($sizes...) {
    @each $name, $size in meta.keywords($sizes) {
        #{$name}: $size;
    }
}

//Specific for "card"
@mixin grow-icons ($color) {
    &:hover {
        width: 40%;
        background: $color;
        .material-icons {
            font-size: 28px;
        }
        .card-button-text {
            font-size: 20px;
        }
    }
}

//Absolute position
@mixin absolute ($positions...) {
    position: absolute;
    @each $name, $position in meta.keywords($positions) {
        #{$name}: $position;
    }
}

//For Navbar
@mixin screen-max($max) { 
    @media (max-width: $max) { 
      @content 
    } 
  };

@mixin shrink($font-button, $height-button, $logo) {
    nav {   
        .create {
            height: $height-button;
            font-size: $font-button;
            padding: 8px;
        }

        #logo {
            img {
                height: $logo;
            }
            p {
                font-size: $logo;
            }
        }
    }
}