@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

//Fonts
@mixin font-stack ($size, $color, $weight) {
    font-family: 'Open Sans', sans-serif;
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

//Flex
@mixin flex ($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}