@use 'variables' as *;

@mixin screen-max($max) { 
    @media (max-width: $max) { 
      @content 
    } 
  };

@mixin shrink($font-button, $height-button, $logo) {
    nav {
        .create {
            height: $height-button;
            font-size: $font-button;
        }

        #logo {
            img {
                height: $logo;
            }
            p {
                font-size: $logo;
            }
        }
    }
}



nav {
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: $black;
    color: $white;

    .create {
        background: $primary;
        @include font-stack (16px, $white, 400);
        border: none;
        border-radius: 8px;
        height: 36px;
        padding: 0 12px 0 12px;
        margin-right: 8vw;
        transition: all 0.6s ease;
        &:hover {
            cursor: pointer;
            background-color: $primary-dark;
    
        }
    }

    #logo {
        display: flex;
        height: 100%;
        align-items: center;
        margin-left: 8vw;
        img {
            height: 24px;
            margin-right: 8px;
            
        }
    
        p {
            
            font-size: 24px;
        }
    
        .bold {
            font-weight: 800;
        }
    }
    
}

@include screen-max(360px) {
       @include shrink(12px, 24px, 16px)
}