@use 'variables' as *;
@use "mixins" as *;

#search {
    height: 248px;
    width: 100vw;
    background: no-repeat top/auto url("../public/images/hero.jpg"), rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    input {
        @include font-stack (24px, $black, 400);      
        padding: 0 8px 0 24px;
        width: 56vw;
        min-width: 236px;
        height: 56px;
        border-radius: 8px;
        border: none;
        transition: all 0.6s ease;
        &:focus-visible, &:hover {
            outline: none;
            height: 60px;
            width: 60vw;
            border: solid 2px $primary;
        }
    }
}