@use 'variables' as *;
@use "mixins" as *;

%hover-bar {
    @include size ($height: 60px, $width: 60vw);
    outline: none;
    border: solid 2px $primary;
}

#hero {
    @include size ($height: 248px, $width: 100vw, $max-width: 100%);
    @include flex ($justify: center, $align: center);
    background: no-repeat top/auto url("../public/images/hero.jpg"), rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    
    #search {
        position: relative;
        &:hover {
            input {
                @extend %hover-bar;
            }
        }
    }
    
    input {
        @include size ($height: 56px, $width: 56vw, $min-width: 252px);
        @include font-stack (24px, $black, 400);      
        padding: 0 64px 0 24px;
        border-radius: 8px;
        border: none;
        transition: $transition;
        &:focus-visible {
            @extend %hover-bar;
        }
    }

    button {
        @include absolute ($right: 16px, $bottom: 0, $top: 0);
        margin-top: auto;
        margin-bottom: auto;     
        background: none;
        border: none;
        color: rgba(0, 0, 0, 0.3);
        transition: $transition;        
        &:hover {
            cursor: pointer;
            color: $error;        
        }
    }

    
}