@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

//Colors
$primary: #41a0bf;
$primary-dark: #31788c;
$primary-light: #b6e6f6;
$secondary: #dc6d48;
$secondary-dark: #bf6041;
$white: #fcfcfc;
$black: #212121;
$error: #D32F2F;
$error-dark: #b82828;

//Fonts
@mixin font-stack ($size, $color, $weight) {
    font-family: 'Open Sans', sans-serif;
    font-size: $size;
    color: $color;
    font-weight: $weight;
}
