@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

//Colors
$primary: #41a0bf;
$primary-dark: #31788c;
$primary-light: #b6e6f6;
$secondary: #bf6041;
$white: #fcfcfc;
$black: #212121;
$error: #D32F2F;

//Fonts
$font-stack: 'Open Sans', sans-serif;