.Card {
  width: 234px;
  height: 267px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #e5e5e5;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  h5 {
    letter-spacing: 0px;
    color: #979da0;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    font-weight: 400;
  }

  .iconDiv {
    width: 95px;
    height: 95px;
    background: #f6f4f6 0% 0% no-repeat padding-box;
    border: 1px solid #e4e4e4;
    margin: 28px auto 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > hr {
    width: 169px;
    height: 0;
    border: 1px solid #f0eff0;
    margin: 22px auto 10px auto;
  }

  h4 {
    color: #263238;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .buttonContent {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    box-shadow: inset 0px 3px 6px #0000000f;
    border-radius: 0px 0px 8px 8px;
    height: 43px;
    padding: 0 27px;

    hr {
      border: 1px solid #f6f4f6;
    }
  }
}
