.modalContent {
  .logoContent {
    width: 159px;
    height: 159px;
    background: #db25250f 0% 0% no-repeat padding-box;
    border: 6px solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 50px auto 25px auto;

    .logo {
      width: 68px;
      height: 68px;
    }
  }

  .infosContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      color: #db2525;
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      margin: 0;
    }

    h4 {
      color: #454545;
      font-size: 12px;
      line-height: 15px;
      font-weight: 400px;
      margin: 0;
      margin-top: 10px;
    }

    hr {
      width: 364px;
      height: 0px;
      border: 1px solid #e4e4e4;
      margin: 25px 0;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
