.container{
  display:flex;
  align-items:center;
  justify-content:center;
  
  .search{
  height: 4rem;
  width: 75%;
  margin-top: -8.5rem;
  margin-bottom: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFFC2;
  border-radius: 8px;
  opacity: 1;
  
  input{
    font: normal 300 1.3rem/1.8rem 'Mulish';
    margin-left: 1rem;
    width: 90%;
    text-align: left;
    letter-spacing: 0px;
    color: #263238;
    background: transparent;
    border: none;
    opacity: 1;

    &:focus{
      outline: none;
    }

    &::-webkit-search-cancel-button{
      position:relative;
      right:20px;  
    }
  }

  
  img{
    background: transparent 0% 0% no-repeat padding-box;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
    opacity: 1;
  }
}
}