.header{
  background: transparent linear-gradient(272deg, var(#AE276F) 0%, var(#5F1478) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(272deg, #AE276F 0%, #5F1478 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}