.post-area {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 50px;
  position: relative;
}
.post{
    border: 1px solid #e4e4e4;
    height: 570px;
    box-shadow: 0 0 3px 0 #e4e4e4;
    border-radius: 5px;
    position: relative;

  }
  .post>h1{
    font-size: 1.8rem;
    margin-top: 26px;
    padding: 0px 8px;
  }
  .post>p{
    font-size: 1.6rem;
    margin-top: 12px;
    padding: 0px 8px;
  }

  .post>img {
    width: 100%;
  }


