// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "/node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$theme-colors: (
  "primary": #5f1478,
  "secondary": #e76316,
  "danger": #db2525,
  "dark": #263238,
  "white": white,
  "light": white,
);

$modal-backdrop-bg: white;
$modal-fade-transform: translate(100px, 0);

// 3. Include remainder of required Bootstrap stylesheets
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "/node_modules/bootstrap/scss/root";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/type";
@import "/node_modules/bootstrap/scss/images";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";
@import "/node_modules/bootstrap/scss/buttons";
@import "/node_modules/bootstrap/scss/modal";
@import "/node_modules/bootstrap/scss/forms";

// 5. Add additional custom code here

//Create card modal
.modal-dialog-create-card {
  margin: 0;
}
.modal-content-create-card {
  width: 40vw;
  height: 100vh;
  padding: 1em;
}
.modal-body-create-card {
  flex: none;
}

//Delete card modal
.modal-content-delete-card {
  padding: 1em;
  display: flex;
}

@media (max-width: 890px) {
  .modal-content-create-card {
    width: 100%;
  }
}
