@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #212121;
  font-weight: 400;
  margin: 0;
  background-color: #fcfcfc;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

span {
  pointer-events: none;
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}

.material-icons {
  transition: all 0.3s ease-out;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-light {
  color: #fcfcfc;
}

nav {
  width: 100vw;
  max-width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  background-color: #212121;
  color: #fcfcfc;
}
nav .create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
  background: #41a0bf;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fcfcfc;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  height: 36px;
  padding: 0 12px 0 12px;
  margin-right: 8vw;
  transition: all 0.6s ease;
}
nav .create:hover {
  cursor: pointer;
  background-color: #31788c;
}
nav #logo {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 8vw;
}
nav #logo img {
  height: 24px;
  margin-right: 8px;
}
nav #logo p {
  font-size: 24px;
}
nav #logo .bold {
  font-weight: 800;
}

@media (max-width: 360px) {
  nav .create {
    height: 28px;
    font-size: 14px;
    padding: 8px;
  }
  nav #logo img {
    height: 16px;
  }
  nav #logo p {
    font-size: 16px;
  }
}
#hero input:focus-visible, #hero #search:hover input {
  outline: none;
  height: 60px;
  width: 60vw;
  border: solid 2px #41a0bf;
}

#hero {
  height: 248px;
  width: 100vw;
  max-width: 100%;
  background: no-repeat top/auto url("../public/images/hero.jpg"), rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero #search {
  position: relative;
}
#hero input {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #212121;
  font-weight: 400;
  padding: 0 64px 0 24px;
  width: 56vw;
  min-width: 252px;
  height: 56px;
  border-radius: 8px;
  border: none;
  transition: all 0.6s ease;
}
#hero button {
  position: absolute;
  right: 16px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-out;
}
#hero button:hover {
  cursor: pointer;
  color: #D32F2F;
}

#modal {
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
}
#modal #form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  flex-wrap: nowrap;
  width: 320px;
  height: 450px;
  border: none;
  position: relative;
  background: url("/public/images/form.gif") center center no-repeat rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  border-radius: 20px;
}
#modal #form #form-inputs {
  margin-top: 88px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}
#modal #form h2 {
  font-weight: 400;
  font-size: 18px;
  color: #fcfcfc;
  position: absolute;
  top: 32px;
}
#modal #form input {
  width: 100%;
  height: 44px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 15px;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
#modal #form input:focus {
  border: 1px solid #41a0bf;
  outline: none;
  color: #fff;
}
#modal #form input::-moz-placeholder {
  opacity: 0.8;
  color: #fcfcfc;
}
#modal #form input:-ms-input-placeholder {
  opacity: 0.8;
  color: #fcfcfc;
}
#modal #form input::placeholder {
  opacity: 0.8;
  color: #fcfcfc;
}
#modal #form #modal-buttons {
  width: 80%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
}
#modal #form #modal-buttons button {
  height: 100%;
  color: #fcfcfc;
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  width: 45%;
  transition: all 0.3s ease-out;
}
#modal #form #modal-buttons .close {
  background: #D32F2F;
}
#modal #form #modal-buttons .close:hover {
  background: #b82828;
  font-size: 16px;
}
#modal #form #modal-buttons .add {
  background: #41a0bf;
}
#modal #form #modal-buttons .add:hover {
  background: #31788c;
  font-size: 16px;
}

#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 44px 44px;
  flex-wrap: wrap;
  width: 84vw;
  margin: 40px auto 64px auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 260px;
  height: 400px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-out;
}
.card .card-texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
  position: absolute;
  top: 228px;
  width: 236px;
}
.card .card-buttons {
  width: 100%;
  height: 120px;
  display: flex;
}
.card .card-button-text {
  transition: all 0.3s ease-out;
  font-weight: 600;
}
.card button, .card a {
  cursor: pointer;
}
.card img {
  position: absolute;
  bottom: 200px;
  z-index: 1;
  height: 50%;
  background-color: #212121;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-out;
}
.card p {
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  width: 100%;
}
.card .name {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #212121;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.card .title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #212121;
  font-weight: 300;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.card .edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fcfcfc;
  font-weight: 400;
  width: 33.4%;
  background: #41a0bf;
  transition: all 0.3s ease-out;
}
.card .edit:hover {
  width: 40%;
  background: #31788c;
}
.card .edit:hover .material-icons {
  font-size: 28px;
}
.card .edit:hover .card-button-text {
  font-size: 20px;
}
.card .delete {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fcfcfc;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
  width: 33.4%;
  background: #D32F2F;
  transition: all 0.3s ease-out;
}
.card .delete:hover {
  width: 40%;
  background: #b82828;
}
.card .delete:hover .material-icons {
  font-size: 28px;
}
.card .delete:hover .card-button-text {
  font-size: 20px;
}
.card .cheapest {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fcfcfc;
  font-weight: 400;
  width: 33.4%;
  background: #dc6d48;
  transition: all 0.3s ease-out;
}
.card .cheapest:hover {
  width: 40%;
  background: #bf6041;
}
.card .cheapest:hover .material-icons {
  font-size: 28px;
}
.card .cheapest:hover .card-button-text {
  font-size: 20px;
}
.card .cheapest a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fcfcfc;
}
.card:hover {
  width: 268px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}
.card:hover img {
  height: 70%;
  bottom: 0;
}/*# sourceMappingURL=index.css.map */